@model List<Otobur.Models.Models.UserWithRolesViewModel>

<h2>Kullanıcı Yönetimi</h2>
<form method="post">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Kullanıcı Grubu</th>
                <th>GorebilecegiTablolar</th>
                <th>KayitYapabilecegiTablolar</th>
                <th>KayitSilebilme</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input class="form-control" name="Users[@i].UserName" value="@Model[i].User.UserName" />
                    </td>
                    <td>
                        <input class="form-control" name="Users[@i].Email" value="@Model[i].User.Email" />
                    </td>
                    <td>
                        <input class="form-control" name="Users[@i].PhoneNumber" value="@Model[i].User.PhoneNumber" />
                    </td>
                    <td>
                        @string.Join(", ", Model[i].Roles)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>