@{
    ViewData["Title"] = "TohumBankasi";
}

@model List<TohumBankasi>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <h2 class="text-primary">Tohum Bankası Tablosu</h2>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Aksesyon Numarası</th>
                <th>Bitkinin Adı</th>
                <th>Miktarı</th>
                <th>Bulunduğu Dolap</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.AksesyonNumarasi</td>
                    <td>@obj.Aksesyon?.BitkininAdi</td>
                    <td>@obj.Miktar</td>
                    <td>@obj.BulunduguDolap</td>
                </tr>
            }
        </tbody>
    </table>
</div>