@model Herbaryum

<form method="post" enctype="multipart/form-data">
    <div class="container" style="max-width: 700px;">
        <div class="border p-4 mt-4 bg-white rounded shadow-sm">
            <div class="row pb-2">
                <h2 class="text-primary">Yeni Herbaryum Kaydı Oluştur</h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Herbaryum No</label>
                    <input asp-for="HerbaryumNo" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Bitkinin Adı</label>
                    <input asp-for="BitkininAdi" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Toplayıcı Adı</label>
                    <input asp-for="KullaniciAdi" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Toplayıcı Kodu</label>
                    <input asp-for="KullaniciKodu" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Toplayıcı No</label>
                    <input asp-for="KullaniciNumarasi" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Lokasyon</label>
                    <input asp-for="Lokasyon" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Koordinat</label>
                    <input asp-for="Koordinat" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Aksesyon No</label>
                    <input asp-for="AksesyonNumarasi" class="form-control" />
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">Fotoğraf</label>
                    <input asp-for="Fotograf" type="file" class="form-control" />
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Kaydet</button>
                <a asp-controller="Herbaryum" asp-action="Index" class="btn btn-secondary">Geri Dön</a>
            </div>
        </div>
    </div>
</form>
