@using Otobur.Models.Models
@model TohumBankasi

<form method="post">
    <div class="container" style="max-width: 700px;">
        <div class="border p-4 mt-4 bg-white rounded shadow-sm">
            <div class="row pb-2">
                <h2 class="text-primary">Yeni Tohum Bankası Kaydı Oluştur</h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Aksesyon Numarası</label>
                    <input asp-for="AksesyonNumarasi" id="AksesyonNumarasi" class="form-control" autocomplete="off" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Miktar</label>
                    <input asp-for="Miktar" id="Miktar" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Bulunduğu Dolap</label>
                    <input asp-for="BulunduguDolap" id="BulunduguDolap" class="form-control" />
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Kaydet</button>
                <a asp-controller="TohumBankasi" asp-action="Index" class="btn btn-secondary">Geri Dön</a>
            </div>
        </div>
    </div>
</form>